.cartContainer {
  height: 100vh;
  margin-bottom: 10rem;
}

.cartProducts {
  color: white;
  font-family: "Dongle";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -1rem 2rem;
}

.two {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartImage img {
  height: 150px;
  aspect-ratio: 10/15;
  object-fit: contain;
  margin-top: 2rem;
}

.cartDesc p:first-child {
  font-size: 25px;
  margin-bottom: -1rem;
}

.cartDesc p:nth-child(2) {
  font-size: 15px;
  margin-bottom: -1rem;
  color: #8f8f8f;
}

.cartDesc p:nth-child(3) {
  margin-bottom: -1rem;
  font-size: 18px;
}

.cartDesc p:nth-child(4) {
  font-size: 18px;
  margin-bottom: 0;
}

.cartPrice {
  margin-top: -5rem;
  color: #ff9393;
}

.deleteCart {
  margin: 0 -5px;
  color: #ff9393;
  font-size: 18px;
  font-family: "Dongle";
}

.cartPriceCheckout {
  margin-top: 0;
  color: #ff9393;
}

.checkPageContainer .forms {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -2rem;
}

.checkPageContainer .forms input {
  border: none;
  background: white;
  font-family: "Dongle";
  text-align: center;
  border-radius: 1rem;
  outline: none;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.noItems {
  text-align: center;
  color: white;
  font-family: "Dongle";
  font-size: 3rem;
}
