@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Dawning+of+a+New+Day&family=Dongle:wght@300&family=Euphoria+Script&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
