.manageCategories .categories {
  color: white;
  font-family: "Dongle";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.manageCategories .cats {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: -3.5rem;
  margin-top: 1rem;
}

.manageCategories .cats p:last-child {
  font-size: 1rem;
  color: rgb(252, 92, 92);
  cursor: pointer;
}
