.navbarContainer {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: -1.5rem;
}

.menu {
  font-family: "Dongle";
  margin-top: 0.5rem;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu img {
  height: 35px;
  margin-top: 0.5rem;
}

.kuyaJher p {
  font-family: "Dawning of a New Day";
  font-size: 35px;
}

.cart {
  position: relative;
  margin-top: 0.5rem;
}

.cart img {
  height: 25px;
}

.cart p {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff8383;
  font-family: "Dangrek";
  color: white;
  width: 1em;
  height: 1em;
  font-size: 15px;
  border-radius: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
