.searchContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.searchContainer img {
  height: 20px;
  display: flex;
}

.searchContainer input {
  background: white;
  border: none;
  border-radius: 2rem;
  font-family: "Dongle";
  font-size: 20px;
  padding-left: 1rem;
  outline: none;
}
